<div class = "container" "text-center">
  <h1>
      Product List
  </h1>
    <% @products.each do |product|%>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <% if product.illustration? %>
        <%= cl_image_tag product.illustration.path,class: "product-image" %>
        <% else %>
        <%= image_tag "background.jpg",class: "product-image" %>
        <% end %>
        <div class='product-body'>
          <h3><%= link_to product.name, product_path(product) %></h3>
          <p><%= product.category %></p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <%= link_to product_path(product) do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </li>

          <li>
            <%= link_to edit_product_path(product) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </li>

          <li>
            <%= link_to product_path(product), method: :delete do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>

</div>

<p>
    <%= link_to "Back to home", root_path %>
</p>
