<div class = "container" "text-center"> 
    <h1>
        Wagon - Hunt
    </h1>
    <h4>
        Product Presentation : <%= @product.name %>
    </h4>
    <p>
        Category : <%= @product.category%>
    </p>
    <p>
        Url : <%= @product.url%>
    </p>
    <p>
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
        <%= link_to "Delete", product_path(@product), method: :delete, class: "btn btn-danger" %>
    </p>
    <p>
        <%= link_to "back to products list", products_path %>
    </p>
</div>